%h1 Welcome!
%p This is an aweosome gender guessing site! You can input height and weight, we'll use some sample data to guess gender for you. You can also give the actual gender if you know it to help us with improving accuracy!

%h1 Useful Links
.all_data=  link_to 'All data', candidates_path
.new_guess= link_to 'Take a guess!', new_candidate_path
