%h1 View the candidate detail.

.candidate_detail
  .candidate_id
    %label Candidate ID
    %span= @candidate.id
  .height
    %label Height
    %span= @candidate.height
  .weight
    %label Weight
    %span= @candidate.weight
  .guess
    %label Guess
    %span= @candidate.guess